<%- include ('./partials/header') %>

	<body id="single-offer">

		<%- include ('./partials/navbar') %>


			<div class="container" style="padding-bottom: 100px;">
				<div class="row">
					<div class="col-md-7">
						<p id="job-name">
							<%=job.name%>
						</p>
						<span>Публикувана от </span><a href="/specialists/<%=job.createdBy.nickname%>"><span
								id="created-by">
								<%=job.createdBy.nickname%>
							</span></a>

						<div class="image-container"></div>

						<div class="job-description-container">
							<h3 style="margin-top: 5%;">Описание на предложението</h3>
							<p id="job-description">
								<%=job.description%>
							</p>
						</div>
					</div>
					<div class="col-md-5">
						<div class="packages-container">
							<p id="choose-package">Избери пакет</p>

							<button class="selectPackage selectedPackage">Стартов</button>
							<button class="selectPackage">Стандартен</button>
							<button class="selectPackage">Премиум</button>

							<div class="package-details">
								<%job.packages.forEach(p=> { %>
									<p id="package-description">
										<%=p.packageDescription%>
									</p>
									<div class="price-and-revisions-container">
										<span id="package-price"><svg xmlns="http://www.w3.org/2000/svg" width="25"
												height="25" fill="currentColor" class="bi bi-cash-coin"
												viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
												<path
													d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
												<path
													d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
												<path
													d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
											</svg> Цена: <%=p.packagePrice%> лв.</span>

										<span id="package-revisions"><svg xmlns="http://www.w3.org/2000/svg" width="25"
												height="25" fill="currentColor" class="bi bi-arrow-clockwise"
												viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
												<path
													d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
											</svg> Ревизии: <%=p.packageRevisions%>
										</span>
									</div>
									<%}) %>
							</div>
							<button class="btn btn-success" id="button-select">Избери и продължи</button>
							<button class="btn btn-success" id="button-select" style="background-color: blue;">Изпрати съобщение</button>
						</div>

						<div class="user-info">
							<p id="user-info">Информация за потребителя</p>
							<p id="user-name">Име: <%=job.createdBy.name%></p>
							<p id="user-nickname">Прякор: <%=job.createdBy.nickname%></p>
							<p id="user-register-date"></p> 
						</div>
					</div>
				</div>
			</div>
			
	
			<script src='self'>
				let job = '<%=job.createdBy.createdAt%>'
				let created = moment(job).locale('bg').calendar()
				$('#user-register-date').text(`Регистриран ${created}`)
				console.log(created)
			</script>



			<%- include ('./partials/footer') %>